<fieldset data-payment-target="additionalFields" data-type="Check"> 
    <div class="my-5">
        <%= form.label :routing_number %>
        <%= form.text_field :routing_number, class: "input-field block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %> 
    </div>
    
    <div class="my-5">
        <%= form.label :account_number %>
        <%= form.password_field :account_number, class: "input-field block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
</fieldset>