<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing product</h1>

  <%= render "form", product: @product %>

  <%= link_to "Show this product", @product, class: "ml-4 rounded-lg py-3 px-5 text-black font-medium shadow-sm outline outline-offset-2 outline-pink-500 border-solid border-2 border-grey-600 inline-block font-medium" %>
  <%= link_to "Back to products", products_path, class: "ml-4 rounded-lg py-3 px-5 inline-block font-medium bg-gray-500 text-white " %>
</div>
