<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %> 
    </p>
  <% end %>

  <div class="flex justify-between items-center pb-8">
    <h1 class="mx-auto font-bold text-4xl">Products</h1>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
  </div>

  <div id="products" class="min-w-full">
    <%= render @products %>
  </div>

  <table id="products" class="mx-auto"> 
    <tfoot>
      <tr>
        <td colspan="3">
          <div class="mt-8">
            <%= link_to "New product", 
                new_product_path, 
                class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
          </div> 
        </td>
      </tr>
    </tfoot>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="px-2 py-3">
          test 
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
