<div>
  <h1 class="pb-2 font-bold text-4xl">Store</h1>
  <p>Find the best book in catalog</p>
</div>

<div class="w-full px-4">
  <%= render "notice" %>
  
  <h2 class="font-bold text-2xl mb-6 pb-4 border-b-4">
    Your Pragmatic Bookshelf
  </h2>

  <%= turbo_stream_from 'products' %>

  <ul>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render partial: 'product', object: product %>
        <% end %> 
      <% end %>
    <% end %> 
  </ul>
</div>